<!DOCTYPE html>
<html>
  <head>
    <title>극한의 단타충</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
		<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <link rel="stylesheet" type="text/css" href="semantic/semantic.css">
    <script src="semantic/semantic.js"></script>
    <script src="/javascripts/BTC.js"></script>
    <link rel='stylesheet' href='/stylesheets/BTC.css' />
  </head>
  <body onload="proc(); proc2(); getCoinNews();">
    
    <header id="header">
      <nav>
        <div class="logo_img">
          <a href="http://localhost:3000/"><img src="/images/logo.svg" width="300px" alt="logo"/></a>
        </div>
      </nav>
    </header>
    <div id="wrap">
      <div class="content_wrap">
        <div id="content_container">
          <div id="realtime_price">
            <h1 class="coin_price"></h1>
            <div id="diff_pcp"></div>
            <div id="coin_info">
              <div>
                <span>고가 (당일)</span>
                <span id="max_price"></span>
                <span>원</span>
              </div>
              <div >
                <span>저가 (당일)</span>
                <span id="min_price"></span>
                <span>원</span>
              </div>
              <div >
                <span>거래량 (24시간)</span>
                <span id="units_traded_24H"></span>
                <span>BTC</span>
              </div>
              <div >
                <span>거래량 (24시간)</span>
                <span id="acc_trade_value_24H"></span>
                <span>억원</span>
              </div>
            </div>
          </div>
          <div class="wall" style="width: 50px;"></div>
          <div id="chart"></div>
        </div>
        <div id="real_price_bar">
            <div><span class="rpb_tag">현재가</span><span id="coin_price_real"><span class="init">0 KRW</span></span></div>
            <div><span class="rpb_tag">진입가</span><span id="entry_price"><span class="init">0 KRW</span></span></div>
            <div><span class="rpb_tag">수익률</span><span id="coin_diff"><span class="init">0 %</span></span></div>
            <div><span class="rpb_tag">수 익</span><span id="coin_diff_price"><span class="init">0 KRW</span></span></div>
            <div class="rpb_button">
              <button class="ui vertical animated button" tabindex="0" onclick="gotoUp();">
                <div class="visible content">Go To Top</div>
                <div class="hidden content">
                  <i class="up arrow icon"></i>
                </div>
              </div>
            </button>
        </div>
        <div id="trade_info">
          <form class="ui form">

            <div id="buy" >
              <div class="inline fields">
                <div class="field">
                  <div class="ui radio checkbox">
                    <input class="order" name="buy" type="radio" onclick="orderCheckerOfBuy();">
                    <label>지정가</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input class="market" type="radio" name="buy"  checked="checked" onclick="orderCheckerOfBuy();">
                    <label>시장가</label>
                  </div>
                </div>
              </div>
              <div class="field">
                <label>지정가</label>
                <input class="order_field" type="number" placeholder="지정가 입력" disabled="disabled">
              </div>
              <div class="field">
                <label>주문 수량</label>
                <input class="order_quantitiy"  type="number" placeholder="주문 수량 입력">
              </div>
              <div class="ui huge button" onclick="modalOn();">매수</div>
            </div>

            <div id="sell">
              <div class="inline fields">
                <div class="field">
                  <div class="ui radio checkbox">
                    <input class="order" name="sell" type="radio" disabled="disabled" onclick="orderCheckerOfSell();">
                    <label>지정가</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input class="market" type="radio" name="sell" checked="checked" onclick="orderCheckerOfSell();" >
                    <label>시장가</label>
                  </div>
                </div>
              </div>
              <div class="field">
                <label>지정가</label>
                <input class="order_field" type="number" placeholder="지정가 입력">
              </div>
              <div class="field">
                <label>주문 수량</label>
                <input class="order_quantitiy" type="number" placeholder="주문 수량 입력">
              </div>
              <div class="ui huge button">매도</div>
            </div>

          </form>
          
        </div>
        <div id="other_coin" style="min-height: 400px;">
        </div>
        <div class="clear"></div>
        <div id="news">
          <div class="container">
            <button class="ui button" type="submit" onclick="getCoinNews();">새로고침</button>
          </div>
        </div>
      </div>
    </div>
    <footer id="footer">
      <br>
      <h2>ALL COPYRIGHT TO YOOJUN HONG 2021</h2>
      <h4>Project for PNU Basic Internet And Web</h4>
    </footer>
    <div id="audio_button">
      <div class="ui primary button" sound="ON" onclick="soundOnOff();">
        <i class="volume up icon"></i>Beep Sound
      </div>
    </div>
    <div id="modal" class="ui basic modal">
      <div class="content">
        <div>
          <div class="info">진입가</div><span class="entry"></span>
        </div>
        <div>
          <div class="info">주문수량</div><span class="quantity"></span>
        </div>
        <div>
          <div class="info">총액</div><span class="total"></span>
        </div>
      </div>
      <div class="actions">
        <div class="ui green ok inverted button" onclick="buyCoin();">
          <i class="checkmark icon" ></i>매수
        </div>
      </div>
    </div>

  </body>
   
</html>
