<!DOCTYPE html>
<html>
  <head>
    <title>극한의 단타충</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
		<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <link rel="stylesheet" type="text/css" href="semantic/semantic.css">
    <script src="semantic/semantic.js"></script>
    <script src="/javascripts/BTC.js"></script>
    <link rel='stylesheet' href='/stylesheets/BTC.css' />
  </head>
  <body onload="proc(); proc2();">
    <header id="header">
      <nav>
        <div class="logo_img">
          <a href="http://localhost:3000/"><img src="/images/logo.svg" width="300px" alt="logo"/></a>
        </div>
      </nav>
    </header>
    <div id="wrap">
      <div class="content_wrap">
        <div id="content_container">
          <div id="realtime_price">
            <h1 class="coin_price"></h1>
            <div id="diff_pcp"></div>
            <div id="coin_info">
              <div>
                <span>고가 (당일)</span>
                <span id="max_price"></span>
                <span>원</span>
              </div>
              <div >
                <span>저가 (당일)</span>
                <span id="min_price"></span>
                <span>원</span>
              </div>
              <div >
                <span>거래량 (24시간)</span>
                <span id="units_traded_24H"></span>
                <span>BTC</span>
              </div>
              <div >
                <span>거래량 (24시간)</span>
                <span id="acc_trade_value_24H"></span>
                <span>억원</span>
              </div>
            </div>
          </div>
          <div class="wall" style="width: 50px;"></div>
          <div id="chart"></div>
        </div>
        <div id="real_price_bar">
            <div>현재가 <span class="coin_price"></span></div>
            <div>진입가</div>
            <div>손익 99999%</div>
            <div class="ui vertical animated button" tabindex="0">
              <div class="visible content">Go To Top</div>
              <div class="hidden content">
                <i class="up arrow icon"></i>
              </div>
            </div>
        </div>
        <div id="trade_info">
          <form class="ui form">

            <div id="buy">
              <div class="inline fields">
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="buy_order" checked="checked">
                    <label>지정가</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="buy_order">
                    <label>시장가</label>
                  </div>
                </div>
              </div>
              <div class="field">
                <label>지정가</label>
                <input type="number" name="first-name" placeholder="지정가 입력">
              </div>
              <div class="field">
                <label>주문 수량</label>
                <input type="number" name="last-name" placeholder="주문 수량 입력">
              </div>
              <button class="ui huge button" type="submit">Submit</button>
            </div>

            <div id="sell">
              <div class="inline fields">
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="sell_order" checked="checked">
                    <label>지정가</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="sell_order">
                    <label>시장가</label>
                  </div>
                </div>
              </div>
              <div class="field">
                <label>지정가</label>
                <input type="number" name="first-name" placeholder="지정가 입력">
              </div>
              <div class="field">
                <label>주문 수량</label>
                <input type="number" name="last-name" placeholder="주문 수량 입력">
              </div>
              <button class="ui huge button" type="submit">Submit</button>
            </div>

          </form>
          
        </div>
        <div id="other_coin" style="height: 2000px;">
          ??
          ??
        </div>
      </div>
      <footer id="footer">

      </footer>
    </div>
  </body>
</html>
