rect.highcharts-scrollbar-track, text.highcharts-credits,
rect.highcharts-scrollbar-button, path.highcharts-scrollbar-arrow,
g.highcharts-input-group, path.highcharts-button-symbol,
rect.highcharts-scrollbar-thumb, path.highcharts-scrollbar-rifles {
  display: none; }

body {
  padding: 0x;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

#wrap {
  width: 85%;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: auto;
  min-height: 1000px;
  border-radius: 10px; }
  #wrap #content_wrap {
    display: flex;
    flex-direction: column; }

#header {
  height: 100px;
  margin-bottom: 50px;
  background-color: rgba(240, 240, 240, 0.945);
  box-shadow: rgba(0, 0, 0, 0.03) 0px 2px 1px, rgba(0, 0, 0, 0.01) 0px 2px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.07) 0px 13px 8px, rgba(0, 0, 0, 0.09) 0px 1px 16px; }
  #header .logo_img {
    width: fit-content;
    height: fit-content;
    margin-left: 10%;
    padding-top: 20px; }

#content_container {
  width: 100%;
  margin: 0px auto 40px;
  display: flex;
  justify-content: center; }

#chart {
  width: 65%;
  display: block;
  max-width: 1000px;
  height: 500px;
  margin-left: auto; }

#realtime_price {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 50px 60px;
  height: 400px;
  margin: auto;
  width: 35%;
  max-width: 700px; }
  #realtime_price h1 {
    padding: 10px; }
  #realtime_price #diff_pcp {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
    width: 80px;
    height: 30px;
    padding-top: 5px;
    margin-left: auto;
    border-radius: 5px;
    background-color: grey;
    text-align: center;
    color: white; }

#coin_info {
  display: flex;
  flex-direction: column; }
  #coin_info div {
    padding: 10px;
    margin: 10px; }
  #coin_info span:first-child {
    background-color: #5f5f5f;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: white;
    padding: 3px;
    border-radius: 5px; }

#real_price_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  position: sticky;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  background-color: whitesmoke;
  min-height: 50px;
  width: 120%;
  padding-left: 6%;
  padding-right: 2%;
  padding-top: 10px;
  margin: 40px 0;
  margin-left: -10%;
  z-index: 10;
  font-size: large;
  border-top: 10px solid whitesmoke;
  border-bottom: 5px solid #353535; }
  #real_price_bar > div {
    width: 300px; }
  #real_price_bar div > span:first-child {
    margin-right: 10px; }
  #real_price_bar .rpb_tag {
    color: white;
    background-color: #5c5c5c;
    padding: 5px 10px;
    border-radius: 3px; }
  #real_price_bar .rpb_button {
    width: 200px;
    height: 40px; }
    #real_price_bar .rpb_button .button {
      width: 200px;
      margin-top: -8px;
      background-color: white;
      border: 2px solid #5c5c5c; }

#trade_info {
  width: auto;
  height: auto;
  min-height: 200px;
  padding: 60px;
  margin-bottom: 50px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; }
  #trade_info form {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  #trade_info form > div {
    width: 38%; }

#other_coin {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 20px 0;
  padding-top: 10px;
  padding-left: 7%; }
  #other_coin .tradingview-widget-container {
    float: left;
    margin: 5px  20px; }

#news {
  border-radius: 10px;
  background-color: #f1f1f1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin: 20px 0; }
  #news .container {
    display: flex;
    flex-direction: column; }
    #news .container .date {
      min-width: none;
      text-align: right;
      margin: 10px; }
    #news .container .news {
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      min-height: 150px;
      width: 80%;
      margin: 15px auto;
      padding: 10px 30px 15px;
      border-radius: 10px;
      transition-duration: 0.1s; }
      #news .container .news:hover {
        transition-duration: 0.1s;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px inset;
        border: #f0f0f0 1px solid; }
      #news .container .news .news_title {
        margin: 10px 0 20px; }
        #news .container .news .news_title:hover {
          text-decoration: underline; }
      #news .container .news .news_description {
        color: black;
        width: 85%;
        margin-left: 10px; }
      #news .container .news .news_date {
        color: grey;
        text-align: right;
        margin-top: 20px; }

#footer {
  height: 300px;
  width: 100%;
  margin-top: 100px;
  background-color: black;
  color: white; }

#audio_button {
  background-color: white;
  width: 240px;
  height: 100px;
  border-radius: 12px;
  border-top: 3px solid grey;
  border-left: 3px solid grey;
  position: fixed;
  right: -10px;
  bottom: -10px; }
  #audio_button .button {
    width: 200px;
    border-radius: 5px;
    font-size: 20px;
    margin: 6% 10% 10% 6%;
    padding: 20px 30px; }

#modal, #modal2 {
  font-size: 30px; }
  #modal div.info, #modal2 div.info {
    margin-left: 50px;
    margin-bottom: 20px;
    display: inline-block;
    font-weight: bold;
    width: 300px; }

.clear {
  clear: both; }

/*# sourceMappingURL=BTC.css.map */